<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="es.plexus.mas-plug-in">
      </category>
      <view
            name="Logs View"
            inject="true"
            icon="icons/sample.png"
            category="es.plexus.mas-plug-in"
            class="es.plexus.masplugin.views.LogsView"
            id="es.plexus.masplugin.views.LogsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="es.plexus.masplugin.views.LogsView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
